.home-container{
    max-width: 400px;
    margin: 0 auto;
}
.home-title {
    font-size: 3.5rem;
    margin-bottom: 1rem;
}
.home-changename-text{
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}
.home-changename-text:hover{
    color: var(--blue-dark);
}
.home-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.home-form__label {
    color: #FFF;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.home-form__input {
    margin-bottom: 1rem;
    padding: 0.5rem;
    font-size: 1.5rem;
    border: none;
    border-radius: 0.5rem;
    color: #FFF;
}
.home-form__select{
    margin-bottom: 1rem;
    padding: 0.5rem;
    font-size: 1.5rem;
    border: none;
    border-radius: 0.5rem;
    color: #FFF;
}
.home-form__btn {
    padding: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--blue-dark);
    color: #FFF;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.2s;
    margin-bottom: 0.5rem;
}

.home-form__btn:hover {
    background-color: var(--blue);
}

@media(prefers-color-scheme:light){
    .home-form__label {
        color: #242424;
    }
    .home-form__select{
        color: #242424;
        border: 2px solid #242424;
    }
    .home-form__input{
        color: #242424;
        border: 2px solid #242424;
        border-radius: 12px;
    }
}